/Web Scraper/Application/CuokaWebScraper/nbproject/private/
/Web Scraper/Application/CuokaWebScraper/build/
/Web Scraper/project/CuokaWebScraper/build/
/Web Scraper/project/CuokaWebScraper/nbproject/private/
/Web Scraper/project/CuokaWebScraperRESTClient/target/
/Web Scraper/project/CuokaWebScraperRESTServer/target/