<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuoka.cuoka" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.cuoka.cuoka.Services.NotificationService"
            android:exported="false"/>

        <receiver
            android:name="com.cuoka.cuoka.BroadcastReceivers.NotificationReceiver"
            android:process=":remote" >
        </receiver>

        <activity android:name="com.cuoka.cuoka.Activities.IntroUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.MainScreenUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.NotificationsUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.FeedbackUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.StylesUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.SuggestedUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.FavoritesUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.LoginUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.ShopsUI"
            android:screenOrientation="portrait">

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.ProfileUI"
            android:screenOrientation="portrait"
            android:theme="@style/TransparentWithTitle">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.ProductUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Transparent">
        </activity>

        <activity android:name="com.cuoka.cuoka.Activities.FilterUI"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustNothing">

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
